
 <ul class="nav nav-tabs">
  <li><a href="#addfield" data-toggle="tab">Add a Field</a></li>
  <li><a href="#fieldsettings" data-toggle="tab">Field Settings</a></li>
<li><a href="#formsettings" data-toggle="tab">Form Settings</a></li>
</ul>

<div class="tab-content">

</div>

