<div class="page-header">
    <h2>Form builder <small>- building forms just a drag and drop away</small></h2>
    <p>Add form elements by draggingvand droping into the form container. and select a filed to change its settings in the field settings tab . </p>
</div> 
<div class='row'>
    <div class="col-md-4" id="fb-left-col">{{>fb_left_side this}}</div>
    <div class="col-md-8" id="fb-right-col">
    <div class="well well-sm">
    <div style="text-align:right;">
		<button type="button" id="save_btn" class="btn btn-info	 btn-sm" data-toggle="modal" >
			Save form
		</button>
		<button type="button" id="save_btn" class="btn btn-warning btn-sm" 	>
			SReset
		</button>
	</div>
	</div>
    {{>fb_right_side}}</div>
 </div>
