 <div class="hero-unit">
              <h1>App Dev Platform</h1>
              <p>Apps available  now..</p>
              <ul>
                <li>Formbuilder</li>
                <li>Click2call</li>
                <li> More coming soon...</li>
              </ul>	
              <div class="row">
  <div class="col-sm-6 col-md-3">
		<a href="#click2call" class="thumbnail">
<img data-src="holder.js/100%x180" alt="cleck2call" style="height: 180px; width: 100%; display: block;" src="">		</a>
  </div>
  <div class="col-sm-6 col-md-3">
		<a href="#Formbuilder" class="thumbnail">
<img data-src="holder.js/100%x180" alt="Formbuilder" style="height: 180px; width: 100%; display: block;" src="">		</a>
  </div>

</div>

          </div>