<div class="row">
  <div class="col-xs-12">
    <label for="fieldlabel" >Field Label</label>
   <textarea class="form-control" id="fieldlabel" placeholder="Enter field label" name='field_label' ></textarea>
 </div>
</div>

<div class="row">
<div class="col-xs-4">
    <label for="fieldlabel">Filed ID </label>
    <input type="text" name ="field_data.id" class="form-control" placeholder="Efield ID" >
  </div>
  <div class="col-xs-8">
    <label for="fieldlabel">Placeholder text </label>
    <input type="text" name ="field_data.placeholder_text" class="form-control" placeholder="Enter place holder text" >
  </div>
</div>
<div class="row">

  <div class="col-xs-3">
     <label for="fieldlabel">Min</label>
    <input type="text"  name ="field_data.min" class="form-control" placeholder="">
  </div>
  <div class="col-xs-3">
     <label for="fieldlabel">Max</label>
    <input type="text" name ="field_data.max"  class="form-control" placeholder="">
  </div>
  <div class="col-xs-6">

    <label class="checkbox-inline">
  <input type="checkbox"  name ="field_data.required" value=""> Required
</label>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <label for="fieldlabel" >Helper text</label>
   <textarea class="form-control" id="helpertxt" placeholder="Enter helper textarea" name='field_data.help_text' ></textarea>
 </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-xs-12">
  <button type="button" class="btn btn-success">Duplicate</button>
  <button type="button" class="btn btn-danger">Remove</button>
  </div>
</div>