	<label for="exampleInputEmail1">{{field_name}}</label>
	<input type="{{field_data.type}}" class="form-control" id="exampleInputEmail1"  {{field_data.required}} placeholder="Enter your email address">