<ul class="nav nav-tabs" id="navtabs">
  <li><a href="#fieldlists" data-toggle="tab">Add a Field</a></li>
  <li><a href="#fieldsettings" data-toggle="tab">Field Settings</a></li>
<li><a href="#formsettings" data-toggle="tab">Form Settings</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane" id="fieldlists">

	 </div>
	 <div class="tab-pane" id="fieldsettings">

	 </div>
	  <div class="tab-pane" id="formsettings">
<div class="row">
  <div class="col-xs-12">
    <label for="fieldlabel" >Form Description</label>
   <textarea class="form-control" id="fieldlabel" placeholder="Enter field label" name='field_label' ></textarea>
 </div>
</div>

<div class="row">
<div class="col-xs-4">
    <label for="fieldlabel">Form ID </label>
    <input type="text" name ="field_data.id" class="form-control" placeholder="Efield ID" >
  </div>
  <div class="col-xs-8">
    <label for="fieldlabel">Action URL </label>
    <input type="url" name ="field_data.placeholder_text" class="form-control" placeholder="Enter place holder text" >
  </div>
</div>
	  </div>
</div>