<div id="fieldcontent">

</div>
<div>
<div class="btn-group pull-right btngroup" >
  <button type="button" class="btn btn-xs btn-success" id="duplicatebbtn">
   <span class="glyphicon glyphicon-plus-sign"></span> 
  </button>
  <button type="button" class="btn btn-xs btn-danger" id="removebtn">
  <span class="glyphicon glyphicon-remove-sign"></span> 
  </button>
</div>
</div>
